/* === GLOBAL SETTINGS === */

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: var(--adlance_primary_shade2);
}

/* width */
.pp-scrollable::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.pp-scrollable::-webkit-scrollbar {
    background: var(--adlance_light_gray);
}

/* Handle */
.pp-scrollable::-webkit-scrollbar-thumb {
    background: var(--adlance_primary_clr);
    border-radius: 1px;
}

/* Handle on hover */
.pp-scrollable::-webkit-scrollbar-thumb:hover {
    background: var(--adlance_primary_shade1);
}

/* === GLOBAL COLORS VARIABLES === */

:root {
    --adlance_primary_clr: #FCC013;
    --adlance_primary_shade1: #EBAF01;
    --adlance_primary_shade2: #FDD35C;

    --adlance_secondary_clr: #262626;
    --adlance_secondary_shade1: #282828;

    --adlance_gray: #ECECEC;
    --adlance_light_gray: #F5F5F5;
    --adlance_white: #FFFFFF;
}

.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cursor-dot-outline {
    width: 15px;
    height: 15px;
    background-color: rgba(252, 192, 19, 0.6);
    z-index: 10000;
}

.post::-webkit-scrollbar {
    display: none;
}

/* === GENERAL STYLES === */

.adlance_primary_btn {
    background: var(--adlance_primary_clr);
    padding: 12px 40px;
    border-radius: 32px;
    border: 0;
    color: var(--adlance_secondary_clr);
    font-weight: 600;
    transition: 0.5s;
}

.adlance_primary_btn:hover {
    background: var(--adlance_primary_clr);
    transition: 0.5s;
    color: var(--adlance_secondary_clr);
    transform: translateY(-3px);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--adlance_primary_clr);
    transition: 0.5s;
}

/* === ADLANCE SECTION-1 === */

.adlance_section {
    background-color: var(--adlance_primary_clr);
    width: 100%;
    /* height: 100vh; */
}

/* === SIDE HEADER-DESKTOP === */

.side_header {
    display: flex;
    width: 90px;
    height: 100vh;
    background-color: var(--adlance_white);
    /* background: #000; */
    border-right: 1px solid #ECECEC;
    /* position: fixed; */
    position: sticky;
    top: 0;
    padding: 10px 0px;
    z-index: 1;
}

.logo_container {
    width: 80%;
    min-height: 100px;
    /* background: dodgerblue; */
    /* border: 2px solid dodgerblue; */
}

.adlance_logo {
    width: 70px;
}

.menu {
    min-height: 400px;
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    writing-mode: vertical-lr;
    /* transform: rotate(180deg); */
    /* min-width: 20px; */
}

.menu ul li {
    margin-bottom: 30px;
    font-size: 16px;
}

.menu ul li:last-child {
    margin-bottom: 0px;
}

.menu ul li a {
    color: var(--adlance_secondary_clr);
    opacity: 0.5;
}

.menu .active {
    opacity: 1;
}

/* Responsiveness */

@media screen and (min-width:1600px) {
    .side_header {
        width: 108px;
        padding: 80px 0px;
    }

    .menu ul li {
        margin-bottom: 40px;
        font-size: 22px;
    }
}

/* === MAIN CONTAINER === */

.main_container {
    width: calc(100% - 90px);
    min-height: 100vh;
    background-color: var(--adlance_gray);
    display: flex;
    flex-direction: column;
}

/* Responsiveness */

@media screen and (min-width:1600px) {
    .main_container {
        width: calc(100% - 108px);
    }
}

/* === adlance_sections_container CONTAINER === */

.adlance_sections_container {
    width: calc(100% - 90px);
    min-height: 100vh;
    /* margin-left: 90px; */
}

.custom_sec {
    min-height: 100vh;
    background: orangered;
}

/* === HERO SECTION === */

.hero_section {
    width: 100%;
    /* margin-left: 90px; */
    /* min-height: 100vh; */
    padding: 60px 0px;
    background: url('../images/hero_bg.png');
    background-size: cover;
}

.adlance_logo_container {
    /* width: 10%; */
    min-height: 200px;
    /* border: 2px solid #fff; */
}

.a_dot_logo {
    width: 450px;

}

.hero_content_container {
    /* border: 2px solid #fff; */
    margin-left: 20px;
    min-height: 400px;
}

.hero_adlance_logo_container {
    /* border: 2px solid #fff; */
    margin-left: 30px;
    min-height: 350px;
}

.mobile_adlance_dot_logo {
    display: none;
}

.hero_heading {
    font-size: 65px;
    color: var(--adlance_white);
    font-weight: 800;
    line-height: 65px;
    min-width: 300px;
    letter-spacing: 1px;
}

.small_heading {
    font-weight: 200;
    font-size: 25px;
    line-height: 40px;
}

.preserved_txt {
    margin: 0;
    line-height: 40px;
    margin-top: 0px;
    display: block;
    /* padding-right: 10px; */
}

.hero_primary_btn {
    width: 130px;
    height: 45px;
    background: var(--adlance_primary_clr);
    text-align: center;
    text-decoration: none;
    color: var(--adlance_secondary_clr);
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--adlance_primary_clr);
    cursor: pointer;
}

.hero_secondary_sbtn {
    width: 130px;
    height: 45px;
    background: transparent;
    border: 1.5px solid #fff;
    text-align: center;
    text-decoration: none;
    color: var(--adlance_white);
    font-weight: 600;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero_primary_btn:hover {
    color: var(--adlance_secondary_clr);
}

/* Responsiveness */
@media screen and (min-width:1600px) {
    .hero_section {
        padding: 110px 0px;
    }

    .hero_heading {
        font-size: 100px;
        line-height: 100px;
        width: 300px;
    }

    .a_dot_logo {
        width: 650px;
        margin-bottom: 130px;
        margin-left: -110px;
    }
}


/* === STORIES SECTION === */

.stories_section {
    width: 100%;
    /* margin-left: 90px; */
    min-height: 100vh;
    background: #f9f9f9;
    padding-bottom: 85px;
    padding-top: 60px;
}

.story_card {
    width: 280px;
    height: 350px;
    margin: 5px;
    border-radius: 10px;
    /* background: #000; */
    /* border: 2px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_card img {
    width: 100;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.story_card:nth-child(2n) {
    margin-top: 30px;
}

.all_stories_btn {
    /* margin-top: 90px; */
}

.latest_stories_heading {
    /* padding-top: 60px; */
}

/* Responsiveness */

@media screen and (min-width:1600px) {
    .story_card {
        width: 346px;
        height: 435px;
        margin: 15px;
    }

    .story_card:nth-child(2n) {
        margin-top: 40px;
    }
}

/* === CLIENTS SECTION === */

.clients_section {
    width: 100%;
    min-height: 100vh;
    background: var(--adlance_gray);
    /* padding: 50px 0px; */
    padding-bottom: 50px;
    color: var(--adlance_secondary_clr);
    display: flex;
    align-items: center;
}

.our_clients_heading, .our_clients_heading_mobile {
    font-size: 45px;
    font-weight: medium;
    letter-spacing: 25px;
    transition: 1s all;
    color: var(--adlance_secondary_clr);
}

.our_clients_heading, .our_clients_heading_mobile:hover {
    transition: 1.5s all;
    letter-spacing: 0px;
}

.our_clients_heading_mobile {
    display: none;
}

.our_clients_descrp {
    width: 70%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    /* padding-bottom: 70px; */
}

.swiper {
    width: 91%;
    min-height: 380px;
    display: flex;
    margin-top: 70px;
}

.clients_slider_container {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client_slide {
    width: 215px;
    height: 280px;
    margin-bottom: 20px;
    background-color: #282828;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url('../images/slide_logo_bg.png');
    background-size: cover;
}

.swiper-slide-active {
    width: 230px;
    min-height: 300px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.left_arrow {
    width: 30px;
    height: 30px;
    background: var(--adlance_primary_clr);
    border-radius: 100px;
    cursor: pointer;
}

.right_arrow {
    width: 30px;
    height: 30px;
    background: var(--adlance_primary_clr);
    border-radius: 100px;
    cursor: pointer;
}

.swiper-pagination {
    bottom: 0px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_gap {
    width: 30px;
    margin: 0 2px;
    height: 4px;
    /* background: #000; */
    border-bottom: 2px solid var(--adlance_secondary_clr);
}

.pagination_dots {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #000;
    margin: 0 3px;
}

.active_pagination_dot {
    background: var(--adlance_primary_shade1);
    transition: 0.3s;
}

.custom_pagination {
    display: flex;
    max-width: 10%;
}

/* Responsiveness clients slider */

@media screen and (min-width:1600px) {
    .swiper {
        min-height: 500px;
        width: 90%;
        align-items: center;
    }

    .client_slide {
        height: 390px;
        /* width: 275px !important; */
        margin-bottom: 0px;
    }

    .swiper-slide-active {
        height: 410px;
        margin-bottom: 0px;
    }

    .left_arrow {
        position: relative;
        left: 35px;
    }

    .right_arrow {
        position: relative;
        right: 35px;
    }

    .our_clients_heading {
        font-size: 70px;
        letter-spacing: 43px;
    }

    .our_clients_descrp {
        font-size: 25px;
    }
}

/* === FEATURED COMPAIGNS SECTION === */

.featured_compaigns_section {
    width: 100%;
    min-height: 100vh;
    background: greenyellow;
}

/* === FOOTER SECTION === */

.adlance_footer {
    width: 100%;
    z-index: -1 !important;
    background: var(--adlance_light_gray);
    /* position: static; */
}


.footer_newsletter_input {
    min-height: 400px;
    background: var(--adlance_gray);
    padding-top: 60px;
}

.newsletter_heading {
    font-weight: 600;
    margin-bottom: 45px;
    color: var(--adlance_secondary_clr);
}

.input_field {
    height: 70px;
    background: var(--adlance_primary_clr);
    border-radius: 55px;
    position: relative;
}

.newsletter_input {
    background-color: transparent;
    border: 0;
    caret-color: #FFFFFF;
    padding: 5px 40px;
    color: var(--adlance_white) !important;
    font-size: 18px;
    width: 60%;
}

.newsletter_input:focus {
    background: transparent;
    box-shadow: none;

}

.newsletter_input::placeholder {
    color: #EBAF01;
}

.newsletter_dropdown_btn {
    background: #fff;
    border-radius: 50px;
    padding: 12px 30px;
    color: var(--adlance_primary_clr);
    z-index: 6;
    text-transform: capitalize;
    border: none;
}

.newsletter_dropdown_btn:hover {
    background: #fff;
    color: var(--adlance_primary_clr);
}

.newsletter_dropdown_btn:focus {
    border: 1px solid var(--adlance_gray);
    background: #fff;
}

.fa-caret-down {
    color: #FCC013;
}

.newletter_dropdown_container {
    margin-right: 10px;
    top: 0;
}

.dd {
    display: flex;
    position: absolute;
    top: 11px;
    min-height: 50px;
    right: 15px;
    border-radius: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dropdown_container {
    position: absolute;
    width: 100%;
    min-height: 100px;
    background: #fff;
    border-radius: 26px;
    z-index: 5;
    top: 5px;
    padding-top: 35px;
}

.dropdown_container ul li {
    padding: 5px 0px;
    /* border-bottom: 1px solid var(--adlance_gray); */
}

.dropdown_container ul li:hover {
    color: var(--adlance_primary_clr);
    cursor: pointer;
}

.dropdown_container ul {
    list-style: none;
    text-align: left;
    width: 100%;
}

.footer_link {
    text-decoration: none;
    cursor: pointer;
    color: var(--adlance_secondary_clr);
}